{% extends "quiz/base.html" %}

{% block content %}

<!-- Page Content -->
<div class="container">
    <div class="row">


        <div class="col-md-12 text-center" style="margin-top: 20px; margin-bottom: 20px;">
           <h1 style="font-family: 'Cabin', sans-serif; color: #2699FB;">Choose your avatar</h1>
        </div>

        <div class="col-md-2 avatar">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar1.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar1.jpg' %}"></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar2.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar2.jpg' %}"></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar3.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar3.jpg' %}"></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar4.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar4.jpg' %}"></button>
            </form>
        </div>


        <div class="col-md-2 avatar">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar5.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar5.jpg' %}"></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar6.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar6.jpg' %}"></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar7.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar7.jpg' %}"></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar8.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar8.jpg' %}"></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar9.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar9.jpg' %}"></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar10.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar10.jpg' %}"></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar11.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar11.jpg' %}"></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar12.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar12.jpg' %}"></button>
            </form>
        </div>

        <div class="col-md-2 avatar_bottom">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar13.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar13.jpg' %}"></button>
            </form>
        </div>

        <div class="col-md-2 avatar_bottom">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar14.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar14.jpg' %}"></button>
            </form>
        </div>


        <div class="col-md-2 avatar_bottom">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar15.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar15.jpg' %}"></button>
            </form>
        </div>


        <div class="col-md-2 avatar_bottom">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar16.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar16.jpg' %}"></button>
            </form>
        </div>


        <div class="col-md-2 avatar_bottom">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar17.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar17.jpg' %}"></button>
            </form>
        </div>


        <div class="col-md-2 avatar_bottom">
            <form method="POST" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar18.jpg">
                <button type="submit" class="btn"><img src="{% static 'quiz/avatar18.jpg' %}"></button>
            </form>
        </div>

    </div>
</div>

<!-- /Page Content -->
{% endblock content %}