{% extends "quiz/base.html" %}


{% block title%}
    Choose Your avatar
{% endblock %}

{% block content %}

<!-- Page Content -->
<div class="container">
    <div class="row">


        <div class="col-md-12 text-center" style="margin-top: 20px; margin-bottom: 20px;">
            <h1 style="font-family: 'Cabin', sans-serif; color: #2699FB;">Choose your avatar</h1>
        </div>

        <div class="col-md-2 avatar">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar1.jpg">
                <button type="submit" class="btn">
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar1.jpg'></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar2.jpg">
                <button type="submit" class="btn">
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar2.jpg'>
                </button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar3.jpg">
                <button type="submit" class="btn"> 
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar3.jpg'>
                </button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar4.jpg">
                <button type="submit" class="btn"> 
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar4.jpg'></button>
            </form>
        </div>


        <div class="col-md-2 avatar">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar5.jpg">
                <button type="submit" class="btn"> 
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar5.jpg'></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar6.jpg">
                <button type="submit" class="btn"> 
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar6.jpg'></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar7.jpg">
                <button type="submit" class="btn"> 
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar7.jpg'></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar8.jpg">
                <button type="submit" class="btn"> 
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar8.jpg'></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar9.jpg">
                <button type="submit" class="btn"> 
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar9.jpg'></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar10.jpg">
                <button type="submit" class="btn"> 
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar10.jpg'></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar11.jpg">
                <button type="submit" class="btn">
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar11.jpg'></button>
            </form>
        </div>

        <div class="col-md-2 avatar">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar12.jpg">
                <button type="submit" class="btn">
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar12.jpg'></button>
            </form>
        </div>

        <div class="col-md-2 avatar_bottom">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar13.jpg">
                <button type="submit" class="btn">
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar13.jpg'></button>
            </form>
        </div>

        <div class="col-md-2 avatar_bottom">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar14.jpg">
                <button type="submit" class="btn">
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar14.jpg'></button>
            </form>
        </div>


        <div class="col-md-2 avatar_bottom">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar15.jpg">
                <button type="submit" class="btn">
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar15.jpg'></button>
            </form>
        </div>


        <div class="col-md-2 avatar_bottom">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar16.jpg">
                <button type="submit" class="btn">
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar16.jpg'></button>
            </form>
        </div>


        <div class="col-md-2 avatar_bottom">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar17.jpg">
                <button type="submit" class="btn">
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar17.jpg'></button>
            </form>
        </div>


        <div class="col-md-2 avatar_bottom">
            <form method="GET" action="/change_avatar/">
                <input type="hidden" name="avatar_option" value="quiz/avatar18.jpg">
                <button type="submit" class="btn">
                    {% load static %}
                    <img src='{% get_static_prefix %}quiz/avatar18.jpg'>
                </button>
            </form>
        </div>

    </div>
</div>

<!-- /Page Content -->
{% endblock content %}