
{% extends "quiz/base.html" %}

{% block content %}

{% load static %}


<!-- Page Content -->

<div class="container">
    <div class="row justify-content-center" style="margin: 10px;">

        <!-- Profile info -->
        <div class="col-lg-4 col-md-7 create_game_add_player_container" style="border: 1px #2699FB solid; background: white;">
            <div class="row justify-content-center">
                <div class="col-lg-5" style="border: 1px #2699FB solid; margin: 10px; background: #F1F9FF;">
                    <img src="{% static 'quiz/avatar1.jpg' %}" class="center" style="width: 50%; padding-top: 30%; padding-bottom: 30%;">
                </div>
                <div class="col-lg-5" style="border: 1px #2699FB solid; margin: 10px; background: #F1F9FF;">
                    <img src="{% static 'quiz/avatar1.jpg' %}" class="center" style="width: 50%; padding-top: 30%; padding-bottom: 30%;">
                </div>
                <div class="col-lg-5" style="border: 1px #2699FB solid; margin: 10px; background: #F1F9FF;">
                    <img src="{% static 'quiz/avatar1.jpg' %}" class="center" style="width: 50%; padding-top: 30%; padding-bottom: 30%;">
                </div>
                <div class="col-lg-5" style="border: 1px #2699FB solid; margin: 10px; background: #F1F9FF;">
                    <img src="{% static 'quiz/avatar1.jpg' %}" class="center" style="width: 50%; padding-top: 30%; padding-bottom: 30%;">
                </div>
            </div>
        </div>


        <!-- Stats -->
        <!-- Bitna linija za centriranje !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! align-self-center -->
        <div class="col-lg-3 col-md-12 create_game_button_container align-self-center d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Play game</button>
        </div>

        <div class="col-lg-4 col-md-7 profile_big_container ">
                <form style="padding-top: 10%;">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitchesLiterature">
                        <label class="custom-control-label" for="customSwitchesLiterature">Literature</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitchesSport">
                        <label class="custom-control-label" for="customSwitchesSport">Sport</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitchesHisotry">
                        <label class="custom-control-label" for="customSwitchesHisotry">History</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitchesGN">
                        <label class="custom-control-label" for="customSwitchesGN">General Knowledge</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitchesGeo">
                        <label class="custom-control-label" for="customSwitchesGeo">Geography</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitchesMovie">
                        <label class="custom-control-label" for="customSwitchesMovie">Movie</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitchesTV">
                        <label class="custom-control-label" for="customSwitchesTV">Movie</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitchesNameTheSong">
                        <label class="custom-control-label" for="customSwitchesNameTheSong">Name The Song</label>
                    </div>


                </form>
        </div>
    </div>
</div>


<!-- /Page Content -->

{% endblock content %}