{% extends "quiz/base.html" %} 
{% block content %}

<!-- Friends Page Content -->

<div class="container">
  <div class="row justify-content-center friend_h1">
    <h1 class="text-center">{%if user.id == curUser.id%}My{%else%}{{curUser.username}}'s{%endif%} Friends</h1>
  </div>

  <div class="row">

    {% for record in friends %}
    
    <div class="col-md-3 col-sm-6 col-xs-12">
        <!-- Add Friend card -->
        <div class="user_card">
            <div class="add_friend_card">
                <div class="card_header">
                    <h6>{{record.0.second_friend_id__username}}</h6>
                </div>
    
                <div class="card-body">
                    {% load static %}
                    <img src='{% get_static_prefix %}{{record.0.second_friend_id__picture }}' class="rounded-circle center" alt="avatar">
                </div>
    
                <p><a href="{% url 'quiz:my_profile' value=record.0.second_friend_id %}">{{record.0.second_friend_id__username}}</a></p>
    
                <p>{{record.0.second_friend_id__rank}}</p>
    
                {%if record.0.second_friend_id != user.id %}
                  {%if user.id == curUser.id%}
                  <div class="card-body text-center">
                    <form method="GET" action="{% url 'quiz:unfriend' value=curUser.id %}">
                        <input type="hidden" name="username" value='{{record.0.second_friend_id__username}}'>
                        <input type="submit" class="btn btn-outline-primary" value="UNFRIEND"></input>
                    </form>
                  </div>
                  {%elif record.1 == 1%}
                  <div class="card-body text-center">
                    <form method="GET" action="{% url 'quiz:unfriend' value=curUser.id %}">
                        <input type="hidden" name="username" value='{{record.0.second_friend_id__username}}'>
                        <input type="submit" class="btn btn-outline-primary" value="UNFRIEND"></input>
                    </form>
                  </div>
                  {%elif record.1 == 2%}
                  <div class="card-body text-center">
                    <form method="GET" action="{% url 'quiz:cancel_request' value=curUser.id %}">
                        <!--!!!! Nabudzeno resenje koje se uzda da su username takodje unique !!!!-->
                        <input type="hidden" name="username" value='{{record.0.second_friend_id__username}}'>
                        <input type="submit" class="btn btn-outline-primary" value="CANCEL REQUEST"></input>
                    </form>
                  </div>  
                  {%elif record.1 == 3%}
                  <div class="card-body text-center">
                    <form method="GET" action="{% url 'quiz:confirm_request' value=curUser.id %}">
                        <!--!!!! Nabudzeno resenje koje se uzda da su username takodje unique !!!!-->
                        <input type="hidden" name="username" value='{{record.0.second_friend_id__username}}'>
                        <input type="submit" class="btn btn-outline-primary" value="CONFIRM REQUEST"></input>
                    </form>
                  </div>  
                  <div class="card-body text-center">
                    <form method="GET" action="{% url 'quiz:deny_request' value=curUser.id %}">
                        <!--!!!! Nabudzeno resenje koje se uzda da su username takodje unique !!!!-->
                        <input type="hidden" name="username" value='{{record.0.second_friend_id__username}}'>
                        <input type="submit" class="btn btn-outline-primary" value="DENY REQUEST"></input>
                    </form>
                  </div>  
                  {%else%}
                  <div class="card-body text-center">
                    <form method="GET" action="{% url 'quiz:send_request' value=curUser.id %}">
                        <!--!!!! Nabudzeno resenje koje se uzda da su username takodje unique !!!!-->
                        <input type="hidden" name="username" value='{{record.0.second_friend_id__username}}'>
                        <input type="submit" class="btn btn-outline-primary" value="SEND REQUEST"></input>
                    </form>
                  </div>
                  {%endif%}
                {%endif%}


    
    
           
        </div>
        <!-- /Add Friend card -->
    
        </div>
    </div>      
    {% empty %}

    <div class="col-md-12 text-center no_content_message">
      <h3>You do not have any friends yet!</h3>
    </div>
    {% endfor %}
 
    </div>
  </div>
{%if user.id == curUser.id%}
<!-- Recieved -->
  <div class="container">
    <div class="row justify-content-center friend_h1">
      <h1 class="text-center">Recieved requests</h1>
    </div>
  
    <div class="row">
  
      {% for record in recieved %}
      
      <div class="col-md-3 col-sm-6 col-xs-12">
          <!-- Add Friend card -->
          <div class="user_card">
              <div class="add_friend_card">
                  <div class="card_header">
                      <h6>{{record.first_friend_id__username}}</h6>
                  </div>
      
                  <div class="card-body">
                      {% load static %}
                      <img src='{% get_static_prefix %}{{record.first_friend_id__picture }}' class="rounded-circle center" alt="avatar">
                  </div>
      
                  <p><a href="{% url 'quiz:my_profile' value=record.first_friend_id %}">{{record.first_friend_id__username}}</a></p>
      
                  <p>{{record.first_friend_id__rank}}</p>
      
                  <div class="card-body text-center">
                    <form method="GET" action="{% url 'quiz:confirm_request' value=curUser.id %}">
                        <!--!!!! Nabudzeno resenje koje se uzda da su username takodje unique !!!!-->
                        <input type="hidden" name="username" value='{{record.first_friend_id__username}}'>
                        <input type="submit" class="btn btn-outline-primary" value="CONFIRM REQUEST"></input>
                    </form>
                  </div>  
                  <div class="card-body text-center">
                    <form method="GET" action="{% url 'quiz:deny_request' value=curUser.id %}">
                        <!--!!!! Nabudzeno resenje koje se uzda da su username takodje unique !!!!-->
                        <input type="hidden" name="username" value='{{record.first_friend_id__username}}'>
                        <input type="submit" class="btn btn-outline-primary" value="DENY REQUEST"></input>
                    </form>
                  </div>  
             
          </div>
          <!-- /Add Friend card -->
      
          </div>
      </div>
      {% empty %}
      <div class="col-md-12 text-center no_content_message">
        <h3>You did not receive any new friend request !</h3>
      </div>
      {% endfor %}
   
      </div>
    </div>

  <!-- /Page Content -->

  <div class="container">
    <div class="row justify-content-center friend_h1">
      <h1 class="text-center">Sent requests</h1>
    </div>
  
    <div class="row">
  
      {% for record in sent %}
      
      <div class="col-md-3 col-sm-6 col-xs-12">
          <!-- Add Friend card -->
          <div class="user_card">
              <div class="add_friend_card">
                  <div class="card_header">
                      <h6>{{record.second_friend_id__username}}</h6>
                  </div>
      
                  <div class="card-body">
                      {% load static %}
                      <img src='{% get_static_prefix %}{{record.second_friend_id__picture }}' class="rounded-circle center" alt="avatar">
                  </div>
      
                  <p><a href="{% url 'quiz:my_profile' value=record.second_friend_id %}">{{record.second_friend_id__username}}</a></p>
      
                  <p>{{record.second_friend_id__rank}}</p>
                  
                    <!-- ako sam poslao zahtev a zelim da ga ponistim -->
                    <div class="card-body text-center">
                      <form method="GET" action="{% url 'quiz:cancel_request' value=curUser.id %}">
                          <!--!!!! Nabudzeno resenje koje se uzda da su username takodje unique !!!!-->
                          <input type="hidden" name="username" value='{{record.second_friend_id__username}}'>
                          <input type="submit" class="btn btn-outline-primary" value="CANCEL REQUEST"></input>
                      </form>
                  </div>  
                
      
             
          </div>
          <!-- /Add Friend card -->
      
          </div>
      </div>
      {% empty %}
      <div class="col-md-12 text-center no_content_message">
        <h3>You did not send any new friend requests !</h3>
      </div>
      {% endfor %}
   
      </div>
    </div>
  {%endif%}
  {% endblock content %}
