{% extends "quiz/base.html" %} 
{% block content %}

<!-- Page Content -->

<div class="container">
  <div class="row justify-content-center" id="friend_h1">
    <h1 class="text-center">Friends</h1>
  </div>

  <div class="row">

    {% for record in friends %}
    
    <div class="col-md-3 col-sm-6 col-xs-12">
        <!-- Add Friend card -->
        <div class="user_card">
            <div class="add_friend_card">
                <div class="card_header">
                    <h6>{{record.second_friend_id__username}}</h6>
                </div>
    
                <div class="card-body">
                    {% load static %}
                    <img src='{% get_static_prefix %}{{record.second_friend_id__picture }}' class="rounded-circle center" alt="avatar">
                </div>
    
                <p>{{record.second_friend_id__username}}</p>
    
                <p>{{record.second_friend_id__rank}}</p>
    
              
    
           
        </div>
        <!-- /Add Friend card -->
    
        </div>
    </div>
    {% endfor %}
 
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center" id="friend_h1">
      <h1 class="text-center">Friends</h1>
    </div>
  
    <div class="row">
  
      {% for record in friends %}
      
      <div class="col-md-3 col-sm-6 col-xs-12">
          <!-- Add Friend card -->
          <div class="user_card">
              <div class="add_friend_card">
                  <div class="card_header">
                      <h6>{{record.second_friend_id__username}}</h6>
                  </div>
      
                  <div class="card-body">
                      {% load static %}
                      <img src='{% get_static_prefix %}{{record.second_friend_id__picture }}' class="rounded-circle center" alt="avatar">
                  </div>
      
                  <p>{{record.second_friend_id__username}}</p>
      
                  <p>{{record.second_friend_id__rank}}</p>
      
                
      
             
          </div>
          <!-- /Add Friend card -->
      
          </div>
      </div>
      {% endfor %}
   
      </div>
    </div>

  <!-- /Page Content -->
  {% endblock content %}
