{% extends "quiz/base.html" %}


{% block title %}
    Waiting room
{% endblock %}

{% block content %}

<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 text-center" style="margin-bottom: 20px;">
                    <h2 style="color: #2699FB;">Players in the game:</h1>
                </div>
                <div class="col-md-3 text-center" style="margin: 40px; border: 1px #2699FB solid; min-height: 100px;">
                    <h3 style="color: #2699FB; padding: 10px;">Player 1: </h3><h3 id="player_one" style="color: #2699FB;"></h3>
                </div>
                <div class="col-md-3 text-center" style="margin: 40px; border: 1px #2699FB solid; min-height: 100px;">
                    <h3 style="color: #2699FB; padding: 10px;">Player 2: </h3><h3 id="player_two" style="color: #2699FB;"></h3>
                </div>

                <div class="col-md-12 d-flex justify-content-center">
                    <div class="col-md-8">
                        <button type="button" class="btn btn-primary" onclick="startGame()" style="width: 100%;">Start game.</button>
                    </div>
                </div>

                <div class="col-md-3 text-center" style="margin: 40px; border: 1px #2699FB solid; min-height: 100px;">
                    <h3 style="color: #2699FB; padding: 10px;">Player 3: </h3><h3 id="player_three" style="color: #2699FB;"></h3>
                </div>
                <div class="col-md-3 text-center" style="margin: 40px; border: 1px #2699FB solid; min-height: 100px;">
                    <h3 style="color: #2699FB; padding: 10px;">Player 4: </h3><h3 id="player_four" style="color: #2699FB;"></h3>
                </div>
            </div>
        </div>
    </div>
            
        
        
        
        
        
        <div class="row" style="padding-top: 40px; margin-bottom: 50px;">
                <div class="col-md-12">
                        <div class="row d-flex justify-content-center">
                            {% for friend in friends%}
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <!-- Add Friend card -->
                                <div>
                                    <div style="border: 1px #2699FB solid">
                                        <div class="card_header text-center">
                                            <h6>{{friend.second_friend_id__username}}</h6>
                                        </div>
            
                                        <div>
                                            {% load static %}
                                            <img src='{% get_static_prefix %}{{friend.second_friend_id__picture }}'
                                                class="rounded-circle center" alt="avatar" style="width: 50%; padding-top: 20px;">
                                        </div>
            
                                        <p class="text-center" style="padding-top: 20px; color: #2699FB;">{{friend.second_friend_id__username}}</p>
            
                                        <p class="text-center" style="padding-top: 20px; color: #2699FB;">{{friend.second_friend_id__rank}}</p>
        
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-primary"
                                            onclick="callFriend('{{friend.second_friend_id}}', '{{ game_id }}', '{{user.username}}')" value="invite" style="margin: 10px;">INVITE</button>
                                        </div>
                                        
                                    </div>
                                    <!-- /Add Friend card -->
            
                                </div>
                            </div>
                            {% empty %}
                            <h3>Nema prijatelja :(</h3>
                            {% endfor%}
                        </div>
                    </div>
        </div>
        


</div>





<script>
    var game_id = "{{ game_id }}";
    var player_ids = ["player_one", "player_two", "player_three", "player_four"]

    var ws_path = 'ws://' + window.location.host + '/ws/game/{{ game_id }}';
    console.log("Connecting to " + ws_path);

    var gameSocket = new WebSocket(ws_path);

    gameSocket.onmessage = function(message) {
        console.log('Received message:', message);

        var data = JSON.parse(message.data);
        
        if (data.error) {
            alert(data.error);
            return;
        }

        if (data.msg_type == 1) {
            // Check if game has been started, otherwise redirect.
            if (data.state.game_state > 0) {
                window.location.replace("/game/" + game_id);
                return
            }

            // Get all players from state and update.
            for (var i = 0; i < player_ids.length; i++) {
                document.getElementById(player_ids[i]).innerHTML = data.state.player_names[i];
            }

        }
        else {
            // Maybe some error who knows.
        }
    };

    gameSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    function startGame() {
        console.log("Trying to start game.");

        start_game_data = {
            'command':      'start_game',
            'game_id':      game_id
        };

        gameSocket.send(JSON.stringify(start_game_data));
    }

    

</script>

{% endblock content %}