{% extends "quiz/base.html" %}


{% block title%}
    uQUIZavanje
{% endblock %}

{% block content %}

<h2 id="time"></h2><br>
<h1>Game Question</h1>
<h2 id="question_text"></h2><br>
<h2 id="feedback"></h2><br>
<h2 id="countdown"></h2><br>
<h3>Answer 1: </h3><h3 id="answer_one"></h3>
<button id = "btn1" type="button" onclick="answer(0);">Answer 1</button><br><br>
<h3>Answer 2: </h3><h3 id="answer_two"></h3>
<button id = "btn2" type="button" onclick="answer(1);">Answer 2</button><br><br>
<h3>Answer 3: </h3><h3 id="answer_three"></h3>
<button id = "btn3" type="button" onclick="answer(2);">Answer 3</button><br><br>
<h3>Answer 4: </h3><h3 id="answer_four"></h3>
<button id = "btn4" type="button" onclick="answer(3);">Answer 4</button><br><br>

<script>
    var user_id         = "{{user_id}}";
    var correct_answer = "{{question.correct}}"

    var question_id     = "question_text";
    var question_text   = "{{question.question}}";

    var answer_ids      = ['answer_one', 'answer_two', 'answer_three', 'answer_four'];
    var answer_texts    = ['{{question.answer_one}}', '{{question.answer_two}}', '{{question.answer_three}}', '{{question.answer_four}}']

    function fillData() {
        // Fill question.
        document.getElementById(question_id).innerHTML = question_text;

        for (var i = 0; i < 4; i++)
            document.getElementById(answer_ids[i]).innerHTML = answer_texts[i];
    }
    fillData();

    var game_id = "{{ game_id }}";

    var ws_path = 'ws://' + window.location.host + '/ws/game/{{ game_id }}';
    console.log("Connecting to " + ws_path);

    var gameSocket = new WebSocket(ws_path);

    var startTime = new Date();
    var msPassed;
    setInterval(myTimer, 1);

    function myTimer() {
      var d = new Date();
      msPassed = d.getTime() - startTime.getTime();
      document.getElementById("time").innerHTML = msPassed;
      if(msPassed>10000){
          document.getElementById("time").innerHTML = "Time is up";
         if(document.getElementById("btn1").disabled == false)
          answer(-1);
      }
    }

    function answer(answer_ind) {
        console.log("Answer: " + answer_ind);
        //disable buttons after an answer so that no one can answer twice
        document.getElementById("btn1").disabled = true;
        document.getElementById("btn2").disabled = true;
        document.getElementById("btn3").disabled = true;
        document.getElementById("btn4").disabled = true;
        //calculate timeBonus
        var timeBonus = Math.round((5000 - msPassed)/100)
        //give feedback to the player (correct answer/incorrect answer)
        if(correct_answer==(answer_ind+1)) document.getElementById("feedback").innerHTML = "Correct! Time bonus = "+ timeBonus;
        else document.getElementById("feedback").innerHTML = "Incorrect :(";
        //colour the user choice
        if(answer_ind == 0) document.getElementById("btn1").style = "background-color: #FF0000;";
        if(answer_ind == 1) document.getElementById("btn2").style = "background-color: #FF0000;";
        if(answer_ind == 2) document.getElementById("btn3").style = "background-color: #FF0000;";
        if(answer_ind == 3) document.getElementById("btn4").style = "background-color: #FF0000;";
        //colour the correct button
        if(correct_answer == 1) document.getElementById("btn1").style = "background-color: #4CAF50;";
        if(correct_answer == 2) document.getElementById("btn2").style = "background-color: #4CAF50;";
        if(correct_answer == 3) document.getElementById("btn3").style = "background-color: #4CAF50;";
        if(correct_answer == 4) document.getElementById("btn4").style = "background-color: #4CAF50;";
        answer_data = {
            'command':      'answer',
            'game_id':      game_id,
            'answer_ind':   answer_ind,
            'user_id':      user_id,
            'msPassed':     msPassed
        };
        answer_data = JSON.stringify(answer_data);
        send_answer(answer_data);
    }
    function send_answer(answer_data){
        gameSocket.send(answer_data);
    }

    gameSocket.onmessage = function(message) {
        console.log('Received json: ', message);

        var data = JSON.parse(message.data);
        
        if (data.msg_type == 3) {
            //before we move on to the next question, we show a message and a timer so the players can prepare
            var seconds_to_next = 6;
            document.getElementById("countdown").innerHTML = "Next question in "+seconds_to_next;
            setInterval(function(){seconds_to_next--;document.getElementById("countdown").innerHTML = "Next question in "+seconds_to_next; }, 500);
            setTimeout(function(){window.location.replace("/game/" + game_id);
            return},3000);
            
        }
    }
</script>

{% endblock content %}