{% extends "quiz/base.html" %}


{% block title %}
    Waiting room
{% endblock %}

{% block content %}

<h1>Players in the game:</h1>
<h3>Player 1: </h3><h3 id="player_one"></h3><br>
<h3>Player 2: </h3><h3 id="player_two"></h3><br>
<h3>Player 3: </h3><h3 id="player_three"></h3><br>
<h3>Player 4: </h3><h3 id="player_four"></h3><br>



<button type="button" onclick="startGame()">Start game.</button>


{% for friend in friends%}
<div class="col-md-3 col-sm-6 col-xs-12">
        <!-- Add Friend card -->
        <div class="user_card">
            <div class="add_friend_card">
                <div class="card_header">
                    <h6>{{friend.second_friend_id__username}}</h6>
                </div>
    
                <div class="card-body">
                    {% load static %}
                    <img src='{% get_static_prefix %}{{friend.second_friend_id__picture }}' class="rounded-circle center" alt="avatar">
                </div>
    
                <p>{{friend.second_friend_id__username}}</p>
    
                <p>{{friend.second_friend_id__rank}}</p>
    
                <button type="button" onclick="callFriend('{{friend.second_friend_id}}')">INVITE</button>
        </div>
        <!-- /Add Friend card -->
    
        </div>
    </div>      
{% empty %}
    <h3>Nema prijatelja :(</h3>
{% endfor%}

<script>
    var game_id = "{{ game_id }}";
    var player_ids = ["player_one", "player_two", "player_three", "player_four"]

    var ws_path = 'ws://' + window.location.host + '/ws/game/{{ game_id }}';
    console.log("Connecting to " + ws_path);

    var gameSocket = new WebSocket(ws_path);

    gameSocket.onmessage = function(message) {
        console.log('Received message:', message);

        var data = JSON.parse(message.data);
        
        if (data.error) {
            alert(data.error);
            return;
        }

        if (data.msg_type == 1) {
            // Check if game has been started, otherwise redirect.
            if (data.state.game_state > 0) {
                window.location.replace("/game/" + game_id);
                return
            }

            // Get all players from state and update.
            for (var i = 0; i < player_ids.length; i++) {
                document.getElementById(player_ids[i]).innerHTML = data.state.player_names[i];
            }

        }
        else {
            // Maybe some error who knows.
        }
    };

    gameSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    function startGame() {
        console.log("Trying to start game.");

        start_game_data = {
            'command':      'start_game',
            'game_id':      game_id
        };

        gameSocket.send(JSON.stringify(start_game_data));
    }

    

</script>

{% endblock content %}