{% extends "quiz/base.html" %}


{% block title%}
    uQUIZavanje
{% endblock %}

{% block content %}



<div class="container">
        <div class="row justify-content-center">
                <div class="col-md-2 text-center" style="background: rgb(132, 228, 132); border: 2px #358d5b solid; margin-top: 20px; margin-bottom: 20px; margin-right: 10px; margin-left: 10px; color: #358d5b;">
                    <h6 id="p1u">Username</h6>
                    <h3 id="p1s">Score</h3>
                </div>
                <div id="p2" class="col-md-2 text-center" style="background: rgb(225, 159, 255); border: 2px #9b499d solid; margin-top: 20px; margin-bottom: 20px; margin-right: 10px; margin-left: 10px; color: #9b499d;">
                    <h6 id="p2u">Username</h6>
                    <h3 id="p2s">Score</h3>
                </div>
                <div id="p3" class="col-md-2 text-center" style="background: rgb(255, 196, 142); border: 2px #f68f54 solid; margin-top: 20px; margin-bottom: 20px; margin-right: 10px; margin-left: 10px; color: #f68f54;">
                    <h6 id="p3u">Username</h6>
                    <h3 id="p3s">Score</h3>
                </div>
                <div id="p4" class="col-md-2 text-center" style="background: rgb(230, 124, 124); border: 2px #bd2729 solid; margin-top: 20px; margin-bottom: 20px; margin-right: 10px; margin-left: 10px; color: #bd2729;">
                    <h6 id="p4u">Username</h6>
                    <h3 id="p4s">Score</h3>
                </div>
            </div>
    <div class="row d-flex justify-content-center">

        <div class="col-md-10 text-center" style="margin-top: 50px; margin-bottom: 50px; border: 1px #2699FB solid; padding: 20px;">
            <h3 style="color: #2699FB; margin-bottom: 10px;" id="questionNo"></h3>
            <h3 id="question_text" style="color: #2699FB"></h3>
        </div>

        <div class="col-md-10 text-center">
            <h3 id="time" style="color: #2699FB"></h3>
        </div>

        <div class="col-md-10 text-center">
            <h3 id="feedback" style="color: #2699FB"></h3>
        </div>

        <div class="col-md-10 text-center">
            <h3 id="countdown" style="color: #2699FB"></h3>
        </div>

        <div id="btn1-wrapper" class="col-md-5" style="background: #2699FB; margin: 10px;">
                <button id = "btn1" class="btn" type="button" onclick="answer(0);" style="width: 100%; height:100%;"><h3 id="answer_one" style="color: white;"></h3></button>
        </div>

        <div id="btn2-wrapper" class="col-md-5" style="background: #2699FB; margin: 10px;">
                <button id = "btn2" class="btn" type="button" onclick="answer(1);" style="width: 100%; height:100%;"><h3 id="answer_two" style="color: white;"></h3></button>
        </div>

        <div id="btn3-wrapper" class="col-md-5" style="background: #2699FB; margin: 10px;">
                <button id = "btn3" class="btn" type="button" onclick="answer(2);" style="width: 100%; height:100%;"><h3 id="answer_three" style="color: white;"></h3></button>
        </div>

        <div id="btn4-wrapper" class="col-md-5" style="background: #2699FB; margin: 10px;">
            <button id = "btn4" class="btn" type="button" onclick="answer(3);" style="width: 100%; height:100%;"><h3 id="answer_four" style="color: white;"></h3></button>
        </div>


    </div>
</div>













<!-- SCRIPTS -->
<script>
    var user_id         = "{{user_id}}";
    var correct_answer = "{{question.correct}}"

    var question_id     = "question_text";
    var question_text   = "{{question.question}}";

    var answer_ids      = ['answer_one', 'answer_two', 'answer_three', 'answer_four'];
    var answer_texts    = ['{{question.answer_one}}', '{{question.answer_two}}', '{{question.answer_three}}', '{{question.answer_four}}']

    var player_one = "{{game.player_one}}";
    var player_two = "{{game.player_two}}";
    var player_three = "{{game.player_three}}";
    var player_four = "{{game.player_four}}";
    var qid = 0;
    var pts1 = "{{game.player_one_pts}}";
    var pts2 = "{{game.player_two_pts}}";
    var pts3 = "{{game.player_three_pts}}";
    var pts4 = "{{game.player_four_pts}}";
    function fillData() {
        // Fill question.
        qid++;
        document.getElementById("questionNo").innerHTML = qid+"/10";
        document.getElementById(question_id).innerHTML = question_text;
        var num_players = "{{ game.num_players }}";

        for (var i = 0; i < 4; i++)
            document.getElementById(answer_ids[i]).innerHTML = answer_texts[i];
        console.log("Number of players is "+num_players);
        // Fill players.
        document.getElementById("p1u").innerHTML = player_one;
        document.getElementById("p2u").innerHTML = player_two;
        document.getElementById("p3u").innerHTML = player_three;
        document.getElementById("p4u").innerHTML = player_four;
        document.getElementById("p1s").innerHTML = pts1;
        document.getElementById("p2s").innerHTML = pts2;
        document.getElementById("p3s").innerHTML = pts3;
        document.getElementById("p4s").innerHTML = pts4;

        if(player_four=="None"){
            document.getElementById("p4").style.visibility = 'hidden';
        }
        if(player_three=="None"){
            document.getElementById("p3").style.visibility = 'hidden';
        }
        if(player_two=="None"){
            document.getElementById("p2").style.visibility = 'hidden';
        }
        if(player_one=="None"){
            document.getElementById("p1").style.visibility = 'hidden';
        }
    }
    fillData();
    var game_id = "{{ game_id }}";
    var ws_path = 'ws://' + window.location.host + '/ws/game/{{ game_id }}';
    console.log("Connecting to " + ws_path);

    var gameSocket = new WebSocket(ws_path);

    var timerId;
    var msPassed;
    var startTime;

    function questionTimer() {
        startTime = new Date();

        function myTimer() {
            var current_time = new Date();
            msPassed = current_time.getTime() - startTime.getTime();
            var seconds = 9 - Math.floor(msPassed * 0.001);
            var miliseconds = 1000 - msPassed % 1000;

            document.getElementById("time").innerHTML = seconds + " s " + miliseconds + " ms";
            if(msPassed>10000){
                document.getElementById("time").innerHTML = "Time is up";

                if(document.getElementById("btn1").disabled == false){
                    answer(-1);
                }
                window.clearInterval(timerId);
                document.getElementById("time").innerHTML = "";
            }
        }

        timerId = setInterval(myTimer, 1);
    }

    questionTimer();

    

    function answer(answer_ind) {
        window.clearInterval(timerId);
        document.getElementById("time").innerHTML = "Wait for other players to answer";
        
        console.log("Answer: " + answer_ind);
        //disable buttons after an answer so that no one can answer twice
        document.getElementById("btn1").disabled = true;
        document.getElementById("btn2").disabled = true;
        document.getElementById("btn3").disabled = true;
        document.getElementById("btn4").disabled = true;
        //calculate timeBonus
        var timeBonus = Math.max(0, Math.round((5000 - msPassed)/100));
        //give feedback to the player (correct answer/incorrect answer)
        if(correct_answer==(answer_ind+1)) document.getElementById("feedback").innerHTML = "Correct! Time bonus = "+ timeBonus;
        else document.getElementById("feedback").innerHTML = "Incorrect";
        //colour the user choice
        if(answer_ind == 0) document.getElementById("btn1-wrapper").style = "background-color: #FF0000; margin: 10px;";
        if(answer_ind == 1) document.getElementById("btn2-wrapper").style = "background-color: #FF0000; margin: 10px;";
        if(answer_ind == 2) document.getElementById("btn3-wrapper").style = "background-color: #FF0000; margin: 10px;";
        if(answer_ind == 3) document.getElementById("btn4-wrapper").style = "background-color: #FF0000; margin: 10px;";
        //colour the correct button
        if(correct_answer == 1) document.getElementById("btn1-wrapper").style = "background-color: #4CAF50; margin: 10px;";
        if(correct_answer == 2) document.getElementById("btn2-wrapper").style = "background-color: #4CAF50; margin: 10px;";
        if(correct_answer == 3) document.getElementById("btn3-wrapper").style = "background-color: #4CAF50; margin: 10px;";
        if(correct_answer == 4) document.getElementById("btn4-wrapper").style = "background-color: #4CAF50; margin: 10px;";

        answer_data = {
            'command':      'answer',
            'game_id':      game_id,
            'answer_ind':   answer_ind,
            'user_id':      user_id,
            'msPassed':     msPassed
        };
        answer_data = JSON.stringify(answer_data);
        send_answer(answer_data);
    }
    function send_answer(answer_data){
        gameSocket.send(answer_data);
    }

    function load_new_question(question_data) {

        return;
    }

    var countdown_left;
    var countdown_interval_id;
    function start_countdown(countdown_seconds, callback, data) {
        countdown_left = countdown_seconds;

        countdown_interval_id = setInterval(function () {
            document.getElementById("countdown").innerHTML = "Next question in "+ countdown_left;

            if (countdown_left <= 0) {
                window.clearInterval(countdown_interval_id);
                callback(data);
            }
            
            countdown_left--;
        }, 1000);
    }

    function clearAnswer() {
        document.getElementById("btn1").disabled = false;
        document.getElementById("btn2").disabled = false;
        document.getElementById("btn3").disabled = false;
        document.getElementById("btn4").disabled = false;

        document.getElementById("btn1-wrapper").style = "background-color: #2699FB; margin: 10px;";
        document.getElementById("btn2-wrapper").style = "background-color: #2699FB; margin: 10px;";
        document.getElementById("btn3-wrapper").style = "background-color: #2699FB; margin: 10px;";
        document.getElementById("btn4-wrapper").style = "background-color: #2699FB; margin: 10px;";

        document.getElementById("feedback").innerHTML = "";
        document.getElementById("countdown").innerHTML = "";
    }

    function fillNewQuestion(data) {
        console.log(data);

        question_text = data.question;
        answer_texts  = data.answers;
        correct_answer = data.correct_ind;
        pts1 = data.p1;
        pts2 = data.p2;
        pts3 = data.p3;
        pts4 = data.p4;
        fillData();
        
        clearAnswer();
        questionTimer();
    }

    gameSocket.onmessage = function(message) {
        console.log('Received json: ', message);

        var data = JSON.parse(message.data);
        
        if (data.msg_type == 3) {
            window.location.replace("/game/" + game_id);
        }
        else if (data.msg_type == 4) {
            start_countdown(3, fillNewQuestion, data);
        }
    }
</script>

{% endblock content %}