{% extends "quiz/base.html" %}


{% block title%}
    uQUIZavanje
{% endblock %}

{% block content %}

<div class="container">
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-10" style="margin-top: 50px; margin-bottom: 50px; border: 1px #2699FB solid; padding: 20px;">
            <h3 style="color: #2699FB; margin-bottom: 10px;">Game Question</h3>
            <h3 id="question_text" style="color: #2699FB"></h3>
        </div>

        <div class="col-md-5" style="margin: 5px; border: 1px #2699FB solid; background: #2699FB">
            <button type="button" class="btn" onclick="answer(0);" style="width: 100%; height: 100%;"><h3 id="answer_one" style="color: white;"></h3></button>
        </div>

        <div class="col-md-5" style="margin: 5px; border: 1px #2699FB solid; background: #2699FB">  
            <button type="button" class="btn" onclick="answer(1);" style="width: 100%; height: 100%;"><h3 id="answer_two" style="color: white;"></h3></button>
        </div>

        <div class="col-md-5" style="margin: 5px; border: 1px #2699FB solid; background: #2699FB">
            <button type="button" class="btn" onclick="answer(2);" style="width: 100%; height: 100%;"><h3 id="answer_three" style="color: white;"></h3></button>
        </div>

        <div class="col-md-5" style="margin: 5px; border: 1px #2699FB solid; background: #2699FB">      
            <button type="button" class="btn" onclick="answer(3);" style="width: 100%; height: 100%;"><h3 id="answer_four" style="color: white;"></h3></button>
        </div>


    </div>
</div>








<script>
    var user_id         = "{{user_id}}"

    var question_id     = "question_text";
    var question_text   = "{{question.question}}";

    var answer_ids      = ['answer_one', 'answer_two', 'answer_three', 'answer_four'];
    var answer_texts    = ['{{question.answer_one}}', '{{question.answer_two}}', '{{question.answer_three}}', '{{question.answer_four}}']

    function fillData() {
        // Fill question.
        document.getElementById(question_id).innerHTML = question_text;

        for (var i = 0; i < 4; i++)
            document.getElementById(answer_ids[i]).innerHTML = answer_texts[i];
    }
    fillData();

    var game_id = "{{ game_id }}";

    var ws_path = 'ws://' + window.location.host + '/ws/game/{{ game_id }}';
    console.log("Connecting to " + ws_path);

    var gameSocket = new WebSocket(ws_path);

    function answer(answer_ind) {
        console.log("Answer: " + answer_ind);
        
        answer_data = {
            'command':      'answer',
            'game_id':      game_id,
            'answer_ind':   answer_ind,
            'user_id':      user_id
        };

        gameSocket.send(JSON.stringify(answer_data));
    }

    gameSocket.onmessage = function(message) {
        console.log('Received json: ', message);

        var data = JSON.parse(message.data);
        
        if (data.msg_type == 3) {
            window.location.replace("/game/" + game_id);
            return
        }
    }
</script>

{% endblock content %}