/*
Author: Danilo Jovanovic

Colors:
	sub_header	        : #F1F9FF
	main_menu, footer 	: #2699FB

Table OF Contents
------------------------------------
1 > General
2 > Header and Menu
3 > Cards
4 > Home Page
5 > Search Result Page
6 > My Profile
7 > Login and Signup
8 > Footer
9 > Responsive

------------------------------------*/


/*--------------------------------*\
    General
\*--------------------------------*/

a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a :hover {
  color: #ff8b23;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h1, h2, h3, h4, h5, h6 {
  color: #2a2a2a;
  font-family: "Cabin", sans-serif;
}

h2 {
  font-size: 36px;
  line-height: 28px;
  color: #2a2a2a;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  line-height: 25px;
}

h5 {
  font-size: 18px;
  line-height: 22px;
}

img {
  max-width: 100%;
}

a:focus, .button:focus, button:focus, .btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.z_index {
  z-index: 9 !important;
  position: relative;
}

/*--------------------------------*\
    Header and Menu
\*--------------------------------*/

.sub_header {
  padding: 20px 0px;
  background-color: #F1F9FF;
}

.sub_header img {
  height: 15%;
  width: 15%;
}

.main_menu {
  background-color: #2699FB;
}

.main_menu .navbar-light .navbar-nav .nav-link {
  color: #2a2a2a;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0;
}

.menu_fixed span {
  color: #000 !important;
}

.main_menu .header_social_icon ul li {
  padding-right: 13px;
}

.main_menu .header_social_icon ul li a {
  color: #c3c6c9;
}

.main_menu .header_social_icon ul li a:hover {
  color: #ff8b23;
}

.main_menu ul li {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  padding-right: 22px;
}

.main_menu ul li :hover {
  color: #ff8b23 !important;
}

body {
  background-color: #F1F9FF;
}

#lupa {
  background-color: #2699FB;
  border:#2699FB;
}


/*--------------------------------*\
    Cards
\*--------------------------------*/

/* Card General and Question Card*/

.card {
  max-width: 300px;
  margin: 15px;
  border: #2699FB solid;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.add_button {
  float: left;
  background-color: #BCE0FD;
}

.remove_button {
  float: right;
  background-color: #2699FB;
}

.question_card p {
  padding: 10px;
  margin: 0px;
  text-align: left;
  border-bottom: #2699FB solid;
  font-family: 'Quicksand', sans-serif;
  color: #2699FB;
}

.card_header {
  background-color: #2699FB;
  border: 1px #2699FB solid;
  padding: 10px;
}

.card_header h6{
  font-family: 'Cabin', sans-serif;
  color: white;
}

.button_p {
  padding: 0px;
  margin: 0px;
}


/* User card */

.user_card {
  margin: 15px;
  background-color: white;
}

.user_card .card {
  max-width: 300px;
  border: #2699FB solid;
}

.user_card img {
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user_card p {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #2699FB;
  font-size: 16px;
}

/* Add friend card */

.user_card .add_friend_card {
  max-width: 300px;
  margin: auto;
  border: #2699FB solid;
}

.add_friend_card button {
  font-family: 'Cabin', sans-serif;
  background-color: #F1F9FF;
}

/* Trophy card */

.trophy_card {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.trophy_card img{
  width: 50%;
}

.trophy_card_header {
  background-color: #2699FB;
  padding: 10px;
}

.trophy_card p {
  font-family: 'Cabin', sans-serif;
  color: #2699FB;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Friend card */

.friend_card {
  border: #2699FB solid;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
}

.friend_card img{
  width: 50%;
}

.friend_card p {
  font-family: 'Cabin', sans-serif;
  color: #2699FB;
  margin-top: 10px;
  margin-bottom: 30px;
}


#friend_h1 {
  margin-top: 10px;
}

#friend_h1 h1 {
  color: #2699FB;
  font-family: 'Cabin', sans-serif;
}

#trophy_h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#trophy_h1 h1 {
  color: #2699FB;
  font-family: 'Cabin', sans-serif;
}



/*--------------------------------*\
    HomePage
\*--------------------------------*/


.homepage_tile {
  border: black solid;
  margin: 10px;
  padding: 20px;
  background-color: #2699FB;
}

.homepage_tile a{
  font-family: 'Cabin', sans-serif;
  color: white;
}

/*--------------------------------*\
    Search Result Page
\*--------------------------------*/

#search_result p {
  margin-top: 15px;
  border: #2699FB solid;
  font-family: 'Cabin', sans-serif;
  color: #2699FB;
  padding: 10px;
  background-color: white;
}


/*--------------------------------*\
    Rank List Page
\*--------------------------------*/


.rank_list_table {
  margin-top: 15px;
  font-family: 'Quicksand', sans-serif;
}

.rank_list_table thead tr {
  text-align: left;
  background-color: #2699FB;
  color: white;
}

.rank_list_table tbody tr{
  text-align: left;
  background-color: white;
}


/*--------------------------------*\
    My Profile
\*--------------------------------*/

.profile_big_container {
  border: 1px black solid;
  margin: 10px;
  background-color: white;
}

.profile_big_container img {
  margin-top: 10%;
  width: 50%;
}

.profile_big_container h3 {
  font-family: 'Cabin', sans-serif;
  color: #2699FB;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.profile_big_container p{
  font-family: 'Cabin', sans-serif;
  color: #2699FB;
}

.profile_big_container table {
  width: 100%; margin: 2%;
}

.p_wrapper_profile {
  margin-top: 10px;
}

#stats_container {
  margin-top: 15%;
}

.small_container_content {
  margin: 10px;
}

.small_container_content h3{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: #2699FB;
  font-family: 'Cabin', sans-serif;
}

.small_container_content span {
  padding: 10px;
}

.small_container_content img {
  margin: 2px;
  width: 20%;
}

.small_container_content button {
  margin-top: 10%;
}

#trophy_container {
  border: 1px black solid;
  margin-bottom: 10px;
  background-color: white;
}

#friends_container {
  border: 1px black solid;
  background-color: white;
}


/*--------------------------------*\
    Login and Signup
\*--------------------------------*/

.login_form {
  padding: 50px;
  text-align: center;
}

.login_form h2 {
  color: #2699FB;
  margin-bottom: 30px;
}

.login_form p {
  color: #2699FB;
}

.login_form input {
  color: #2699FB;
  border: 1px #2699FB solid;
}

.sign_up_form {
  padding: 20px;
}

.sign_up_form h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2699FB;
}

.sign_up_form label {
  color: #2699FB;
}

.sign_up_form input {
  color: #2699FB;
  border: 1px #2699FB solid;
}




/*--------------------------------*\
    Footer
\*--------------------------------*/

.footer {
  background-color: #2699FB;
  height: 100px;
}

.footer p {
  margin-top: 40px;
  text-align: left;
}


/*--------------------------------*\
    Responsive
\*--------------------------------*/

@media (max-width: 576px) {

  h2 {
    font-size: 22px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  h2 {
    font-size: 24px;
    line-height: 25px;
  }
}


@media (max-width: 576px) {
  h3 {
    font-size: 20px;
  }
}


@media (max-width: 576px) {

  .sub_header #logo {
    text-align: center;
}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  .sub_header #logo {
    text-align: center;
  }
}

.main_menu .navbar {
  padding: 20px 0px;
}

.main_menu ul li {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  padding-right: 22px;
}

.main_menu ul li :hover {
  color: #ff8b23 !important;
}


@media (max-width: 576px) {

  .main_menu .main_menu {
    position: relative;
    z-index: 99;
  }

  .main_menu .navbar-light .navbar-toggler {
    border: 0px solid transparent;
  }

  .main_menu .navbar-collapse {
    position: absolute;
    left: 0;
    top: 78px;
    z-index: 99;
    width: 100%;
    background-color: #fff;
  }

  .main_menu .nav-item {
    padding: 5px 10px 5px 15px;
    background-color: #ff8b23;
  }

  .main_menu .navbar-nav .nav-link:hover {
    color: #fff !important;
  }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

  .main_menu .main_menu {
    position: relative;
  }

  .main_menu .navbar-light .navbar-toggler {
    border: 0px solid transparent;
  }


  .main_menu .navbar-collapse {
    position: absolute;
    left: 0;
    top: 78px;
    z-index: 99;
    width: 100%;
    background-color: #fff;
  }

  .main_menu .nav-item {
    padding: 5px 10px 5px 15px;
    background-color: #ff8b23;
  }

  .main_menu .navbar-nav .nav-link:hover {
    color: #fff !important;
  }


}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .main_menu .main_menu {
    position: relative;
  }

  .main_menu .navbar-light .navbar-toggler {
    border: 0px solid transparent;
  }

  .main_menu .navbar-collapse {
    position: absolute;
    left: 0;
    top: 78px;
    z-index: 99;
    width: 100%;
    background-color: #fff;
  }

  .main_menu .nav-item {
    padding: 5px 10px 5px 15px;
    background-color: #ff8b23;
  }

  .main_menu .navbar-nav .nav-link:hover {
    color: #fff !important;
  }

}


